body{
    background-image: url(../pictures/login_bg.jpg);
    background-size: cover;
}
#login{
    background-color: rgba(3, 3, 3, 0.205);
    padding: 2%;
    border-radius: 2vw;
    font-size: 20px;
    border: 1px solid #989898;
    color: white;
    margin-top: 25%;
}
#login input{
    background: rgba(0,0,0,0.2);
    color: white;
    border: 1px solid #989898;
    border-radius: 4px;
    margin-left: 2vw;
    padding-left: 4px;
}
#login input::placeholder{
    color: rgb(201, 201, 201);
    font-size: 20px;
}
#login input:focus{
    outline: 1px solid white;
}
#login input:hover{
    border: 1px solid white;
}
#cim{
    position: absolute;
    left: -50px;
    bottom: 300px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 80px;
}